.Task-Header h3 {
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(251 251 251);
    border-left: 2px solid rgb(121, 89, 165);
    padding: 4px 15px;
    width: max-content;
    margin-bottom: 30px;
    color: rgb(121, 89, 165);
}

.new-search,.new-search:hover{
    border: 1px solid rgb(121, 89, 165);
    border-radius: 34px;
    height: auto;
    padding: 7px 8px;
    /* margin: 10px 0 10px 0; */
    animation: none !important;
}
.new-search::after{
    border: 1px solid rgb(121, 89, 165);
    border-radius: 34px;
    height: auto;
    padding: 7px 8px;
}

.ms-Viewport {
    margin-top: 10px;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    border-radius: .75rem;
    border-width: 1px;
    --tw-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    /* padding: 1rem; */
    overflow: hidden;
    line-height: 18px;
}

.ms-DetailsList  {
    overflow: hidden;
}

.ms-DetailsRow {
    font-size: 12px;
    color: black;
}

.TaskAction-Icon {
    display: flex;
    gap : 13px;
    font-size: 19px;
    cursor: pointer;
}

.Read-Icon .Read-task{
    color: black;
}

.Edit-Icon {
    color: green;
}

.Delete-Icon {
    color: red;
}

.close-Icon {
    color: #a8a8a8;
    font-size: 17px;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 1px;
    transition: all .4s;
}

.Add-Tasks {
    display: flex;
    justify-content: flex-end;
    right: 15px;
}

.Add-Details .ms-Button--primary{
    text-align: end;
    color: #fff;
    border: 1px solid rgb(121, 89, 165);
    border-radius: 5px;
    background-color: rgb(121, 89, 165);
}

.Next {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.Task-Submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.Add-Dialog .ms-Dialog-title {
    text-align: left;
    color: rgb(121, 89, 165);
}

.Add-Dialog .ms-Dialog-main {
    border-radius: 14px;
}

.Update-Dialog .ms-Dialog-title {
    text-align: left;
    color: rgb(121, 89, 165);
}

.Update-Dialog .ms-Dialog-main {
    border-radius: 14px;
}

.Delet-Dialog .ms-Dialog-main {
    border-radius: 16px 16px 16px 16px;
}

.Delet-Dialog .ms-Dialog-title {
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    border-bottom: none;
    padding: 20px 24px 20px;
    background: linear-gradient(to right, #ff6b6b, #ff8787);
    border-radius: 16px 16px 0 0;
    color: white;
}

.Warinig-Ic {
    font-size: 45px;
    color: #ff6b6b;
}

.confirm-text {
    font-weight: 600;
    font-size: 1.25rem;
}

.confirm-icon  {
    filter: brightness(0) invert(1);
    opacity: 0.8;
    transition: opacity 0.2s;
    color: #a8a8a8;
    font-size: 17px;
    cursor: pointer;
    position: absolute;
    top: -41px;
    right: -6px;
}

.confirm-icon:hover{
    opacity: 1;
}

.delete-msg {
    padding: 22px 55px;
    font-size: 16px;
    color: #495057;
    text-align: center;
}

.Delet-buttons {
    display: flex;
    border-top: none;
    justify-content: end;
    gap: 11px;
}

.cancel-Icon {
    border-radius: 10px;
    font-weight: 500;
    transition: all .2s;
    background-color: #e9ecef;
    border: none;
    color: #495057
}

.cancel-Icon:hover{
    background-color: #dee2e6;
}

.delete-icon {
    border-radius: 10px;
    background: linear-gradient(to right, #ff6b6b, #ff8787);
    border: none;
}

.delete-icon:hover{
    background: linear-gradient(to right, #fa5252, #ff6b6b);
    transform: translateY(-1px);
    border: none;
}

.mb-0{color: black;}



.To-Do {
    padding: 4px 10px;
    border-radius: 7px;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    font-weight: 600;
    display: inline-block;
    color: #1e40af;
    background-color: #dbeafe;
}

.In-Progress {
    padding: 4px 10px;
    border-radius: 7px;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    font-weight: 600;
    display: inline-block;
    background-color: #fff9c4;
    color: #b28704;
}

.ReadyForQA{
    padding: 4px 10px;
    border-radius: 7px;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    font-weight: 600;
    display: inline-block;
    color: #6b21a8;
    background-color: #f3e8ff;
}

.Completed {
    padding: 4px 10px;
    border-radius: 7px;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    font-weight: 600;
    display: inline-block;
    background-color: #dcfce7;
    color: #166534;
}

.Status-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.Status {
    background-color: #f3f4f6;
    border-radius: 8px;
    padding: 16px;
    width: 232px;
    height: 210px;
}

.InProgress-Title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.Inprogress-card {
    background-color: white;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    height: 95px;
    /* width: 165px; */
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 1px;
}

.Inprogress-card p{
    margin: 0px;
    line-height: 1.25rem;
    font-weight: 400;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge-low {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 14px;
    background-color: #d1fae5;
    color: #065f46;
}

.badge-medium {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 14px;
    background-color: #fef9c3;
    color: #92400e;
}

.badge-high {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 14px;
    background-color: #fee2e2;
    color: #b91c1c;
}

.Status-wrapper::-webkit-scrollbar {
    width: auto;
}

.Status-wrapper{
    height: 147px !important;
    overflow-y: scroll;
}

.Status-wrapper::-webkit-scrollbar-track {
    /* background: white; */
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


#sp-appBar {
    display: none !important;
}

.ms-HorizontalNavItems {
    padding: 0 2px;
    display: none;
}

.ms-TooltipHost {
    display: none;
}
[data-automationid="SiteHeaderFollowButton"]{display: none;}
[data-automationid="ShareSiteButton"]{display: none;}
[data-automation-id="CanvasZone"]{margin: 0!important;}
/* [data-automation-id="CanvasZone-SectionContainer"]{max-width: 100% !important;} */
[data-automation-id="CanvasControl"]{margin: 0px 0!important; padding: 8px 0!important;}
[data-automation-id="pageHeader"]{display: none;}
[data-automation-id="CanvasZone"]{padding: 0!important;}
[data-automation-id="CanvasSection"]{padding: 0!important;}
#CommentsWrapper{display: none;}
#spCommandBar{display: none;}